<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TOP message board</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <br />
    <a href="http://localhost:3000/new">Create new message?</a>
    <br />
    <% messages.forEach((message) => { %>
    <h1><%= message.text %></h1>
    <h2><%= message.user %></h2>
    <p><%= message.added %></p>
    <br />
    <% }) %>
  </body>
</html>
