<%- include("../partials/head") %> <%- include("../partials/header") %>
<div>
  <h1>New Message</h1>
  <form method="POST" action="/new">
    <label for="name">Name:</label><br />
    <input type="text" name="messageUser" /><br />
    <label for="message">Message:</label><br />
    <input type="text" name="messageText" />
    <br />
    <br />
    <input type="submit" value="Submit" />
  </form>
  <br />
  <a href="/">Go back</a>
</div>
<%- include("../partials/footer") %>
